<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="http://automationpractice.com" />
    <add key="Email" value="nullabinitio@gmail.com" />
    <add key="Password" value="Agile" />
    <add key="InvalidEmail" value="wrong@gmail.com" />
    <add key="InvalidPassword" value="123" />
    <add key="PageTitle" value="My account - My Store" />
    <add key="WrongPasswordMSG" value="Invalid password." />
    <add key="TotalPrice" value="$18.51" />
    <add key="AddressInfo_Name" value="Charles Kuo" />
    <add key="AddressInfo_Street" value="123 main street" />
    <add key="AddressInfo_CityStateZipcode" value="TEMECULA, California 92591" />
    <add key="AddressInfo_Country" value="United States" />
    <add key="OrderCompleteMSG" value="Your order on My Store is complete." />
  </appSettings>
</configuration>